version: "3.9"
services:
  jellyfin:
    image: lscr.io/linuxserver/jellyfin:10.9.11
    container_name: jellyfin
    ports: ["8096:8096"]
    environment: ["PUID=${PUID}", "PGID=${PGID}", "TZ=${TZ}"]
    volumes:
      - /srv/config/jellyfin:/config
      - /srv/media/movies:/media/movies:ro
      - /srv/media/tv:/media/tv:ro
    restart: unless-stopped
  sonarr:
    image: lscr.io/linuxserver/sonarr:4.0.10
    container_name: sonarr
    ports: ["8989:8989"]
    environment: ["PUID=${PUID}", "PGID=${PGID}", "TZ=${TZ}"]
    volumes:
      - /srv/config/sonarr:/config
      - /srv/media/tv:/tv
      - /srv/cache/downloads/complete:/downloads
    restart: unless-stopped
  radarr:
    image: lscr.io/linuxserver/radarr:5.8.3
    container_name: radarr
    ports: ["7878:7878"]
    environment: ["PUID=${PUID}", "PGID=${PGID}", "TZ=${TZ}"]
    volumes:
      - /srv/config/radarr:/config
      - /srv/media/movies:/movies
      - /srv/cache/downloads/complete:/downloads
    restart: unless-stopped
  overseerr:
    image: lscr.io/linuxserver/overseerr:1.33.2
    container_name: overseerr
    ports: ["5055:5055"]
    environment: ["PUID=${PUID}", "PGID=${PGID}", "TZ=${TZ}"]
    volumes: ["/srv/config/overseerr:/config"]
    restart: unless-stopped
